.container {
    position: relative;
    text-align: center;
    color: rgb(245, 235, 235);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    line-height: 1.6em;
}

img {
    width: 65%;
}

.middle {
    margin: 3%;
}

@media screen and (max-width: 1000px) {
    img {
        width: 70%;
    }
}